@{
    TempData["Title"] = "Sản phẩm đã xem";
}

<div class="product-view">
    <div class="order-block_title">
        <h2>Sản phẩm đã xem</h2>
    </div>
    <div class="order-block">
        <div class="main-prod w-100 ps-0">
            <div class="top-main-prod">
                <h1 class="sub-title-main"></h1>
                <div class="filter-prod">
                    <div class="item-filter"></div>
                </div>
            </div>
            <div class="sub-main-prod">
                <div class="list-products list-products-cat d-flex flex-wrap">
                    <div class="item-cat-product">
                        <div class="product">
                            <!-- <div class="info-ticket seller">Best Seller</div> -->
                            <span class="badget badget_02">-50<span>%</span></span>
                            <div class="thumb-product">
                                <a href="#">
                                    <img src="~/img/Zuýp 2 Lớp Phối Đai.jpg"
                                         alt=""
                                         class="lazy" />
                                    <img src="~/img/Zuýp 2 Lớp Phối Đai_bak.jpg"
                                         alt=""
                                         class="hover-img lazy" />
                                </a>
                            </div>
                            <div class="info-product">
                                <div class="list-color">
                                    <ul>
                                        <li class="checked">
                                            <span class="color-picker">
                                                <img src="~/img/049.png" alt="" />
                                            </span>
                                        </li>
                                        <li class="">
                                            <span class="color-picker">
                                                <img src="~/img/051.png" alt="" />
                                            </span>
                                        </li>
                                    </ul>
                                    <div class="favourite">
                                        <i class="fa-regular fa-heart"></i>
                                    </div>
                                </div>
                                <h3 class="title-product">
                                    <a href="#">Zuýp 2 Lớp Phối Đai</a>
                                </h3>
                                <div class="price-product">
                                    <ins>
                                        <span>970.000đ</span>
                                    </ins>
                                    <del>
                                        <span>1.940.000đ</span>
                                    </del>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <span>
                                    <i class="bx bx-shopping-bag"></i>
                                </span>
                            </div>
                            <div class="list-size">
                                <ul>
                                    <li>
                                        <button class="btn bt-large">s</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">m</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">l</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">xl</button>
                                    </li>
                                    <li class="unactive">
                                        <button class="btn bt-large">xxl</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item-cat-product">
                        <div class="product">
                            <!-- <div class="info-ticket seller">Best Seller</div> -->
                            <span class="badget badget_02">-50<span>%</span></span>
                            <div class="thumb-product">
                                <a href="#">
                                    <img src="~/img/Zuýp 2 Lớp Phối Đai.jpg"
                                         alt=""
                                         class="lazy" />
                                    <img src="~/img/Zuýp 2 Lớp Phối Đai_bak.jpg"
                                         alt=""
                                         class="hover-img lazy" />
                                </a>
                            </div>
                            <div class="info-product">
                                <div class="list-color">
                                    <ul>
                                        <li class="checked">
                                            <span class="color-picker">
                                                <img src="~/img/049.png" alt="" />
                                            </span>
                                        </li>
                                        <li class="">
                                            <span class="color-picker">
                                                <img src="~/img/051.png" alt="" />
                                            </span>
                                        </li>
                                    </ul>
                                    <div class="favourite">
                                        <i class="fa-regular fa-heart"></i>
                                    </div>
                                </div>
                                <h3 class="title-product">
                                    <a href="#">Zuýp 2 Lớp Phối Đai</a>
                                </h3>
                                <div class="price-product">
                                    <ins>
                                        <span>970.000đ</span>
                                    </ins>
                                    <del>
                                        <span>1.940.000đ</span>
                                    </del>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <span>
                                    <i class="bx bx-shopping-bag"></i>
                                </span>
                            </div>
                            <div class="list-size">
                                <ul>
                                    <li>
                                        <button class="btn bt-large">s</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">m</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">l</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">xl</button>
                                    </li>
                                    <li class="unactive">
                                        <button class="btn bt-large">xxl</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item-cat-product">
                        <div class="product">
                            <!-- <div class="info-ticket seller">Best Seller</div> -->
                            <span class="badget badget_02">-50<span>%</span></span>
                            <div class="thumb-product">
                                <a href="#">
                                    <img src="~/img/Zuýp 2 Lớp Phối Đai.jpg"
                                         alt=""
                                         class="lazy" />
                                    <img src="~/img/Zuýp 2 Lớp Phối Đai_bak.jpg"
                                         alt=""
                                         class="hover-img lazy" />
                                </a>
                            </div>
                            <div class="info-product">
                                <div class="list-color">
                                    <ul>
                                        <li class="checked">
                                            <span class="color-picker">
                                                <img src="~/img/049.png" alt="" />
                                            </span>
                                        </li>
                                        <li class="">
                                            <span class="color-picker">
                                                <img src="~/img/051.png" alt="" />
                                            </span>
                                        </li>
                                    </ul>
                                    <div class="favourite">
                                        <i class="fa-regular fa-heart"></i>
                                    </div>
                                </div>
                                <h3 class="title-product">
                                    <a href="#">Zuýp 2 Lớp Phối Đai</a>
                                </h3>
                                <div class="price-product">
                                    <ins>
                                        <span>970.000đ</span>
                                    </ins>
                                    <del>
                                        <span>1.940.000đ</span>
                                    </del>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <span>
                                    <i class="bx bx-shopping-bag"></i>
                                </span>
                            </div>
                            <div class="list-size">
                                <ul>
                                    <li>
                                        <button class="btn bt-large">s</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">m</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">l</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">xl</button>
                                    </li>
                                    <li class="unactive">
                                        <button class="btn bt-large">xxl</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item-cat-product">
                        <div class="product">
                            <!-- <div class="info-ticket seller">Best Seller</div> -->
                            <span class="badget badget_02">-50<span>%</span></span>
                            <div class="thumb-product">
                                <a href="#">
                                    <img src="~/img/Zuýp 2 Lớp Phối Đai.jpg"
                                         alt=""
                                         class="lazy" />
                                    <img src="~/img/Zuýp 2 Lớp Phối Đai_bak.jpg"
                                         alt=""
                                         class="hover-img lazy" />
                                </a>
                            </div>
                            <div class="info-product">
                                <div class="list-color">
                                    <ul>
                                        <li class="checked">
                                            <span class="color-picker">
                                                <img src="~/img/049.png" alt="" />
                                            </span>
                                        </li>
                                        <li class="">
                                            <span class="color-picker">
                                                <img src="~/img/051.png" alt="" />
                                            </span>
                                        </li>
                                    </ul>
                                    <div class="favourite">
                                        <i class="fa-regular fa-heart"></i>
                                    </div>
                                </div>
                                <h3 class="title-product">
                                    <a href="#">Zuýp 2 Lớp Phối Đai</a>
                                </h3>
                                <div class="price-product">
                                    <ins>
                                        <span>970.000đ</span>
                                    </ins>
                                    <del>
                                        <span>1.940.000đ</span>
                                    </del>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <span>
                                    <i class="bx bx-shopping-bag"></i>
                                </span>
                            </div>
                            <div class="list-size">
                                <ul>
                                    <li>
                                        <button class="btn bt-large">s</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">m</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">l</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">xl</button>
                                    </li>
                                    <li class="unactive">
                                        <button class="btn bt-large">xxl</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item-cat-product">
                        <div class="product">
                            <div class="info-ticket seller">Best Seller</div>
                            <span class="badget badget_02">-50<span>%</span></span>
                            <div class="thumb-product">
                                <a href="#">
                                    <img src="~/img/Zuýp 2 Lớp Phối Đai.jpg"
                                         alt=""
                                         class="lazy" />
                                    <img src="~/img/Zuýp 2 Lớp Phối Đai_bak.jpg"
                                         alt=""
                                         class="hover-img lazy" />
                                </a>
                            </div>
                            <div class="info-product">
                                <div class="list-color">
                                    <ul>
                                        <li class="checked">
                                            <span class="color-picker">
                                                <img src="~/img/049.png" alt="" />
                                            </span>
                                        </li>
                                        <li class="">
                                            <span class="color-picker">
                                                <img src="~/img/051.png" alt="" />
                                            </span>
                                        </li>
                                    </ul>
                                    <div class="favourite">
                                        <i class="fa-regular fa-heart"></i>
                                    </div>
                                </div>
                                <h3 class="title-product">
                                    <a href="#">Zuýp 2 Lớp Phối Đai</a>
                                </h3>
                                <div class="price-product">
                                    <ins>
                                        <span>970.000đ</span>
                                    </ins>
                                    <del>
                                        <span>1.940.000đ</span>
                                    </del>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <span>
                                    <i class="bx bx-shopping-bag"></i>
                                </span>
                            </div>
                            <div class="list-size">
                                <ul>
                                    <li>
                                        <button class="btn bt-large">s</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">m</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">l</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">xl</button>
                                    </li>
                                    <li class="unactive">
                                        <button class="btn bt-large">xxl</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item-cat-product">
                        <div class="product">
                            <!-- <div class="info-ticket seller">Best Seller</div> -->
                            <span class="badget badget_02">-50<span>%</span></span>
                            <div class="thumb-product">
                                <a href="#">
                                    <img src="~/img/Zuýp 2 Lớp Phối Đai.jpg"
                                         alt=""
                                         class="lazy" />
                                    <img src="~/img/Zuýp 2 Lớp Phối Đai_bak.jpg"
                                         alt=""
                                         class="hover-img lazy" />
                                </a>
                            </div>
                            <div class="info-product">
                                <div class="list-color">
                                    <ul>
                                        <li class="checked">
                                            <span class="color-picker">
                                                <img src="~/img/049.png" alt="" />
                                            </span>
                                        </li>
                                        <li class="">
                                            <span class="color-picker">
                                                <img src="~/img/051.png" alt="" />
                                            </span>
                                        </li>
                                    </ul>
                                    <div class="favourite">
                                        <i class="fa-regular fa-heart"></i>
                                    </div>
                                </div>
                                <h3 class="title-product">
                                    <a href="#">Zuýp 2 Lớp Phối Đai</a>
                                </h3>
                                <div class="price-product">
                                    <ins>
                                        <span>970.000đ</span>
                                    </ins>
                                    <del>
                                        <span>1.940.000đ</span>
                                    </del>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <span>
                                    <i class="bx bx-shopping-bag"></i>
                                </span>
                            </div>
                            <div class="list-size">
                                <ul>
                                    <li>
                                        <button class="btn bt-large">s</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">m</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">l</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">xl</button>
                                    </li>
                                    <li class="unactive">
                                        <button class="btn bt-large">xxl</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item-cat-product">
                        <div class="product">
                            <!-- <div class="info-ticket seller">Best Seller</div> -->
                            <span class="badget badget_02">-50<span>%</span></span>
                            <div class="thumb-product">
                                <a href="#">
                                    <img src="~/img/Zuýp 2 Lớp Phối Đai.jpg"
                                         alt=""
                                         class="lazy" />
                                    <img src="~/img/Zuýp 2 Lớp Phối Đai_bak.jpg"
                                         alt=""
                                         class="hover-img lazy" />
                                </a>
                            </div>
                            <div class="info-product">
                                <div class="list-color">
                                    <ul>
                                        <li class="checked">
                                            <span class="color-picker">
                                                <img src="~/img/049.png" alt="" />
                                            </span>
                                        </li>
                                        <li class="">
                                            <span class="color-picker">
                                                <img src="~/img/051.png" alt="" />
                                            </span>
                                        </li>
                                    </ul>
                                    <div class="favourite">
                                        <i class="fa-regular fa-heart"></i>
                                    </div>
                                </div>
                                <h3 class="title-product">
                                    <a href="#">Zuýp 2 Lớp Phối Đai</a>
                                </h3>
                                <div class="price-product">
                                    <ins>
                                        <span>970.000đ</span>
                                    </ins>
                                    <del>
                                        <span>1.940.000đ</span>
                                    </del>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <span>
                                    <i class="bx bx-shopping-bag"></i>
                                </span>
                            </div>
                            <div class="list-size">
                                <ul>
                                    <li>
                                        <button class="btn bt-large">s</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">m</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">l</button>
                                    </li>
                                    <li>
                                        <button class="btn bt-large">xl</button>
                                    </li>
                                    <li class="unactive">
                                        <button class="btn bt-large">xxl</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>