@if (User.Identity!.IsAuthenticated)
{
    <div class="icon"><i class="fa-regular fa-user"></i></div>
    <div class="sub-action user-select-none">
        <div class="top-action">
            <h3>Tài khoản của tôi</h3>
        </div>
        <ul>
            <li>
                <a asp-area="Identity" asp-controller="Manage" asp-action="Infomation">
                    <i class="fa-regular fa-user"></i>
                    Thông tin tài khoản
                </a>
            </li>
            <li>
                <a asp-area="Identity" asp-controller="Manage" asp-action="OderList">
                    <i class="fa-solid fa-wallet"></i>
                    Quản lý đơn hàng
                </a>
            </li>
            <li>
                <a asp-area="Identity" asp-controller="Manage" asp-action="AddressList">
                    <i class="fa-solid fa-location-dot"></i>
                    Sổ địa chỉ
                </a>
            </li>
            <li>
                <a asp-area="Identity" asp-controller="Manage" asp-action="ViewProducts">
                    <i class="fa-regular fa-eye"></i>
                    Sản phẩm đã xem
                </a>
            </li>
            <li>
                <a asp-area="Identity" asp-controller="Manage" asp-action="LikeProducts">
                    <i class="fa-regular fa-heart"></i>
                    Sản phẩm yêu thích
                </a>
            </li>
            <li>
                <a asp-area="Identity" asp-controller="Manage" asp-action="Question">
                    <i class="fa-solid fa-headphones"></i>
                    Hỏi đáp sản phẩm
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-regular fa-hand-point-right"></i>
                    Hỗ trợ - IVY
                </a>
            </li>
            <li>
                <a asp-area="Identity" asp-controller="Account" asp-action="LogOff">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Đăng xuất
                </a>
            </li>
        </ul>
    </div>
}
else
{
    <a asp-action="Login" asp-controller="Account" asp-area="Identity" class="icon hover--black"><i class="fa-regular fa-user"></i></a>
}
